.button {
  --button-loader-color: var(--button-color);
  --button-cursor: pointer;
  position: relative;

  padding: 0 var(--button-space);

  display: inline-block;
  overflow: hidden;

  box-sizing: border-box;
  max-width: 100%;
  height: var(--button-height);

  font-family: var(--font-primary);
  font-size: var(--button-font-size);
  font-weight: var(--font-weight-text-regular);
  line-height: var(--button-height);
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;

  cursor: var(--button-cursor);

  color: var(--button-color);
  background: var(--button-bg-color);
  border: none;
  border-radius: var(--control-radius);

  transition:
    background-color 0.15s ease,
    border-color 0.15s ease,
    box-shadow 0.15s ease,
    color 0.15s ease,
    fill 0.15s ease;
  appearance: none;
  flex-shrink: 0;

  &_view {
    &_primary {
      --button-bg-color: var(--color-control-bg-primary);
      --button-bg-color-hover: var(--color-control-bg-primary-hover);
      --button-color: var(--color-control-typo-primary);
      --button-color-hover: var(--color-control-typo-primary-hover);
      --button-border: transparent;
      --button-bg-color-disable: var(--color-control-bg-disable);
      --button-color-disable: var(--color-control-typo-disable);
    }
  }

  &_size {
    &_s {
      --button-height: var(--control-height-s);
      --button-font-size: var(--control-text-size-s);
      --button-space: var(--control-space-xs);
      --button-icon-indent: calc(var(--space-s) - var(--space-3xs));
    }

    &_m {
      --button-height: var(--control-height-m);
      --button-font-size: var(--control-text-size-m);
      --button-space: var(--control-space-s);
      --button-icon-indent: calc(var(--space-m) - var(--space-3xs));
    }
  }

  &_wide {
    width: 100%;
  }
}
