.base-modal {
  position: fixed;
  top: 0;
  left: 0;

  padding: var(--space-s);

  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  width: 100%;
  height: 100vh;

  background-color: #fff;

  &__title {
    padding-bottom: var(--space-s);

    width: 100%;

    border-bottom: 1px solid var(--color-bg-border);
  }

  &__close {
    position: absolute;
    top: var(--space-s);
    right: var(--space-s);
  }

  &__body {
    flex: 1;

    overflow-y: auto;
  }

  &__footer {
    margin: 0 -16px;
    margin-bottom: -16px;
    padding: var(--space-s);

    box-shadow: var(--shadow-group);
  }
}
