@import './styles/mixins/index';

.content {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

input {
  border: none;
  outline: none;
}

main {
  flex: 1;
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-control-typo-primary);
}

button {
  margin: 0;
  padding: 0;

  background-color: inherit;
  border: none;
  outline: none;
}

.container {
  padding: 0 var(--space-s);

  @include tablet {
    padding: 0 var(--space-m);
  }

  @include desktop {
    margin: 0 auto;

    max-width: 1200px;
  }
}

.vertical-container {
  margin-bottom: var(--space-s);

  @include tablet {
    margin-bottom: var(--space-m);
  }

  @include desktop {
    margin-bottom: var(--space-l);
  }
}

.mr-xs {
  margin-right: var(--space-xs);
}

.mr-s {
  margin-right: var(--space-s);
}

.mr-m {
  margin-right: var(--space-m);
}

.mb-s {
  margin-bottom: var(--space-s);
}

.ml-s {
  margin-left: var(--space-s);
}

.align-self {
  &-end {
    align-self: flex-end;
  }
}
